<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.xingyi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".more.advice.AdviceActivity" />
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".more.person.PersonActivity" />
        <activity android:name=".more.person.EditPersonActivity" />
        <activity android:name=".exchange.ShoppingCartActivity" />
        <activity android:name=".exchange.CommodityDetailActivity" />
        <activity android:name=".exchange.SettlementActivity" />
        <activity android:name=".project.ProjectActivity" />
        <activity android:name=".project.projectDonateRank.ProjectDonateRankActivity" />
        <activity android:name=".project.projectSponser.ProjectSponserActivity" />
        <activity android:name=".project.projectOriginator.ProjectOriginatorActivity" />
        <activity android:name=".project.projectMessage.ProjectMessageActivity" />
        <activity android:name=".getStars.stepCount.StepCountActivity" />
        <activity android:name=".getStars.clocks.ClocksActivity"></activity>
    </application>

</manifest>